@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; margin: 0; padding: 0; }
html, body, #root { height: 100%; }

::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { border-radius: 4px; background: #ffffff30; }

button { cursor: pointer; border: none; background: none; }
input:focus { outline: none; }
input::placeholder { color: #ffffff44; }
